body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "PT Sans", sans-serif;
  background-color: #efefef;
  color: #3b4654;
}

.neumorphim-background {
  background: #efefef;
  border-radius: 16px;
  outline: none;
  border: none;
  transition: 0.2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
    -6px -6px 10px rgba(255, 255, 255, 0.5),
    6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);

  &:hover,
  &:focus {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6),
      -2px -2px 4px rgba(255, 255, 255, 0.4),
      2px 2px 2px rgba(255, 255, 255, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.7),
      inset -2px -2px 4px rgba(255, 255, 255, 0.5),
      inset 2px 2px 2px rgba(255, 255, 255, 0.075),
      inset 2px 2px 4px rgba(0, 0, 0, 0.15);
  }
}

.app_cont {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.main_title {
  font-size: 14px;
}

.summary {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: transparent;
  max-width: 320px;
  padding: 12px;
}

.summary_item {
  // background-color: #ffffff;
  border-radius: 16px;
  margin: 6px;
  padding: 12px;
  flex: 1;
  min-width: 80px;
  display: flex;
  justify-content: space-between;
  @extend .neumorphim-background;
  .sum_desc {
    font-size: 14px;
    .icon_wrap {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;

      svg {
        font-size: 22px;
      }

      &.not_started {
        background-color: #fe2965;
      }

      &.doing {
        background-color: #a86be4;
      }

      &.done {
        background-color: #05c4a2;
      }

      &.total {
        background-color: #fea64a;
      }
    }
  }

  .sum_indi {
    font-size: 30px;
    font-weight: 700;
  }
}

.task_cont {
  overflow-y: scroll;
  overflow-x: auto;
  min-width: 300px;
  padding: 32px;
  flex: 1;
  padding-bottom: 168px;

  .task_item {
    border-radius: 0.5rem;
    font-size: 20px;
    font-weight: 600;
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @extend .neumorphim-background;

    &.notstarted {
      // background-color: #e15f7d;
      // box-shadow: -2px 2px 12px #e15f7dcc;
      color: #e15f7d;
    }
    &.doing {
      // background-color: #a86be4;
      // box-shadow: -2px 2px 12px #a86be4;
      color: #a86be4;
    }

    &.done {
      // background-color: #4cbd79;
      // box-shadow: -2px 2px 12px #4cbd79;
      color: #4cbd79;
    }
    &.stop {
      // background-color: #fea64a;
      // box-shadow: -2px 2px 12px #fea64a;
      color: #fea64a;
    }

    + .task_item {
      margin-top: 14px;
    }

    .task_id {
      background-color: #efefef;
      font-size: 24px;
      margin: 6px;
      margin-right: 12px;
      padding: 2px 6px;
      min-width: 34px;
      border-radius: 5px;
      box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.7),
        inset -2px -2px 4px rgba(255, 255, 255, 0.5),
        inset 2px 2px 2px rgba(255, 255, 255, 0.075),
        inset 2px 2px 4px rgba(0, 0, 0, 0.15);
      .task_status {
        font-size: 8px;
        margin-top: -6px;
        text-transform: uppercase;
        font-weight: 700;
      }
    }

    .task_content {
      margin-right: 20px;
    }
  }
}

.spot-cont {
  width: 80%;
  padding: 0;
  z-index: 1000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  display: flex;
  flex-direction: column;
  border-top: 4px solid #ff832c;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #ffffff;

  .input_wrapper {
    display: flex;
    .input_icon {
      font-size: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 10px;
    }

    input {
      font-size: 22px;
      padding: 12px 20px;
      border: none;
      flex: 1;
      border-radius: 8px;
      color: #ff832c;
      font-weight: 700;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

.help_cmd {
  width: 100%;
  margin: 6px;
  margin-top: 20px;
  padding: 12px;
  background: #efefef;
  border-radius: 16px;
  outline: none;
  border: none;
  transition: 0.2s ease-in-out;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6),
    -2px -2px 4px rgba(255, 255, 255, 0.4),
    2px 2px 2px rgba(255, 255, 255, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);

  .cmd_item {
    display: flex;
    align-items: center;
    border-radius: 999px;
    background: #eee;
    flex-wrap: wrap;

    + .cmd_item {
      margin-top: 2px;
    }

    .cmd_type {
      margin-right: 8px;
      color: #ff832c;

      font-size: 14px;
      font-weight: 700;
    }

    .cmd_desc {
      font-size: 12px;
      font-weight: 600;
    }
  }
}

.today_title {
  margin-top: 20px;
  padding: 20px;
  font-size: 34px;
}
